#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_version 2.0

db_input medium dtc/conf_mysqlautoconfig || true
db_get mysqmail/conf_mysqlautoconfig

if [ -z "${RET}" -o "${RET}" = "no" -o "${RET}" = "false" ] ; then
	# Read values from the conf file, and send them in debconf
	if [ -f /etc/mysqmail.conf ] ; then
		conf_mysql_host=`grep mysql_hostname /etc/mysqmail.conf | awk '{print $2}'`
		conf_mysql_login=`grep mysql_user /etc/mysqmail.conf | awk '{print $2}'`
		conf_mysql_pass=`grep mysql_pass /etc/mysqmail.conf | awk '{print $2}'`
		conf_mysql_db=`grep mysql_db /etc/mysqmail.conf | awk '{print $2}'`
	fi

	if [ -z ${conf_mysql_host} ] ; then
		db_set mysqmail/conf_mysqlhost ${conf_mysql_host}
	fi
	if [ -z ${conf_mysql_login} ] ; then
		db_set mysqmail/conf_mysqllogin ${conf_mysql_login}
	fi
	if [ -z ${conf_mysql_pass} ] ; then
		db_set mysqmail/conf_mysqlpass ${conf_mysql_pass}
	fi
	if [ -z ${conf_mysql_db} ] ; then
		db_set mysqmail/conf_mysqldb
	fi

	# Ask questions about how to connect to MySQL
	db_input high mysqmail/conf_mysqlhost
	db_input high mysqmail/conf_mysqllogin
	db_input high mysqmail/conf_mysqlpass
	db_input high mysqmail/conf_mysqldb
else
	if ! [ -f /var/lib/dtc/saved_install_config ] ; then
		echo "The postinstallation script of MySQMail couldn't find /var/lib/dtc/saved_install_config"
		echo "you will need to run dpkg-reconfigure mysqmail once DTC is installed in order to have"
		echo "mysqmail working. I will exit silently but you MUST do the above."
		exit 0
	fi
	# Read values from the DTC's config
	. /var/lib/dtc/saved_install_config
	db_set mysqmail/conf_mysqlhost ${conf_mysql_host}
	db_set mysqmail/conf_mysqllogin ${conf_mysql_login}
	db_set mysqmail/conf_mysqlpass ${conf_mysql_pass}
	db_set mysqmail/conf_mysqldb ${conf_mysql_db}
fi

db_go

#DEBHELPER#

exit 0;
